.navbar-brand{ height: 56px; }
.nav-item .nav-link{
    border-radius: 0.5rem;
    transition: background 0.2s ease-in-out;
}
.nav-item .nav-link{
    color: white !important;
    cursor: pointer; 
    display: inline-flex;
    text-transform: uppercase;
}
.nav-link span{     
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}
.nav-item img{ 
    height: 1.5rem; 
    margin: 0 -1.5rem 0.25rem 0;
}
.nav-item .nav-link:hover{ background-color: #ebebeb38; }
.nav-item .nav-link:active{
    background-color: #ec2020;
    color: white;
    font-weight: 600;
}

@media only screen and (min-width: 992px){
    .navbar-brand{ margin: 0 10rem 0 3.25rem; }
    .nav-item .nav-link{
        font-weight: 550;
        font-size: 0.95rem;
        margin: 0 0.25rem;
    }
    .nav-item img{ margin: 0 -0.70rem 0.25rem 0.5rem; }
}
@media only screen and (max-width: 600px){
    .nav-item{ text-align: center; }
    .nav-item img{ margin: 0; }
}