.container{ margin-bottom: 1rem;}
.container mat-list-item{ 
    font-size: small; 
    line-height: 1.5;
    height: 2rem;
    color: white;
}
.star{ 
    color: rgb(204,66,69) !important; 
    font-size: large;
    padding-right: 1rem;
    margin-top: 0.4rem;
}

@media (min-width: 320px) and (max-width: 768px) {
    .header{ padding: 20px;}
    .header h1{ font-size: 1rem;}
}