<div class="container-fluid">
   <div class="contact_form">
    <div class="header">
        <h1>contact Us</h1>
    </div>
    <div class="flex contact_label">
        <img src="./assets/images/telegram.png" alt="telegram">
        <span> Telegram </span>
    </div>  
    <mat-card class="contact_card">
        <button mat-flat-button> <a href="https://t.me/ppuichat"> Group </a> </button>
        <button mat-flat-button class="ml_4"> <a href="https://t.me/ppuich"> Channel </a> </button>
    </mat-card>

    <div class="flex contact_label">
        <mat-icon class="mail_icon">mail</mat-icon>
        <span> E-mail </span>
    </div>   
    <mat-card class="contact_card">
        <button mat-flat-button> <a href="mailto:kostyajrzaws@gmail.com"> Kostyajrz </a> </button>
        <button mat-flat-button class="ml_4"> <a href="mailto:dwarmachine24@gmail.com"> Saurav </a> </button>
    </mat-card>
   </div>
</div>