<div class="container-fluid">  
  <div class="header">
    <h1>Screenshots</h1>
  </div>
  <div class="row"> 
      <div class="column">
        <img src="./assets/images/slide_1.jpg" style="width:100%">
        <img src="./assets/images/slide_2.jpg" style="width:100%">
        <img  src="./assets/images/slide_3.jpg" style="width:100%">
        <img  src="./assets/images/slide_4.jpg" style="width:100%">
        <img  src="./assets/images/slide_5.jpg" style="width:100%">
        <img  src="./assets/images/slide_6.jpg" style="width:100%">
        <img  src="./assets/images/slide_7.jpg" style="width:100%">
      </div>
      <div class="column">
        <img  src="./assets/images/slide_8.jpg" style="width:100%">
        <img  src="./assets/images/slide_9.jpg" style="width:100%">
        <img  src="./assets/images/slide_10.jpg" style="width:100%">
        <img  src="./assets/images/slide_11.jpg" style="width:100%">
        <img  src="./assets/images/slide_12.jpg" style="width:100%">
        <img  src="./assets/images/slide_13.jpg" style="width:100%">
      </div>  
      <div class="column">
        <img  src="./assets/images/slide_14.jpg" style="width:100%">
        <img  src="./assets/images/slide_15.jpg" style="width:100%">
        <img  src="./assets/images/slide_16.jpg" style="width:100%">
        <img  src="./assets/images/slide_17.jpg" style="width:100%">
        <img  src="./assets/images/slide_18.jpg" style="width:100%">
        <img  src="./assets/images/slide_19.jpg" style="width:100%">
        <img  src="./assets/images/slide_20.jpg" style="width:100%">
        <img  src="./assets/images/slide_21.jpg" style="width:100%">
      </div>
      <div class="column">
        <img  src="./assets/images/slide_22.jpg" style="width:100%">
        <img  src="./assets/images/slide_23.jpg" style="width:100%">
        <img  src="./assets/images/slide_24.jpg" style="width:100%">
        <img  src="./assets/images/slide_25.jpg" style="width:100%">
        <img  src="./assets/images/slide_26.jpg" style="width:100%">
        <img  src="./assets/images/slide_27.jpg" style="width:100%">
        <img  src="./assets/images/slide_28.jpg" style="width:100%">
      </div>
  </div>
</div>  