<div class="container-fluid">
    <div class="header">
        <h1> Donate Here </h1>
    </div>
    <div class="flex justify-content-center donate">
        <mat-card class="paypal">
            <a href="https://www.paypal.me/uglykid24"><img src="./assets/images/paypal.png" alt="PayPal"></a>
            <mat-card-subtitle> https://www.paypal.me/uglykid24</mat-card-subtitle>
        </mat-card>
        <mat-card class="gpay">
            <img src="./assets/images/gpay.png" alt="Google Pay">
            <mat-card-subtitle> dwarmachine24@oksbi </mat-card-subtitle>
        </mat-card>
        <mat-card class="paytm">
            <img src="./assets/images/paytm.png" alt="PayTM">
            <mat-card-subtitle> dwarmachine24@paytm </mat-card-subtitle>
        </mat-card>
    </div>
</div>