@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { 
    background-color: black;
    color: white;
    margin: 0; 
    font-family: Poppins,sans-serif !important;
 }
.filler{ flex: 1 1 auto; }
.flex{ 
    display: flex; 
    flex-flow: wrap; 
}

                // Changelog & Download styles

.expansion_header, .expansion_header:hover{
    height: 4rem;
    background: rgb(204,66,69) !important;
    background: linear-gradient(90deg, rgba(204,66,69,1) 0%, rgba(9,9,9,1) 75%) !important;
}
.expansion_header mat-panel-title{ 
    color: white; 
    font-size: large; 
}
.mat-expansion-panel{ background: unset;}
.mat-expansion-indicator, .mat-expansion-indicator::after{ color: white; font-size: large; }
@media (min-width: 320px) and (max-width: 768px){
    .expansion_header, .expansion_header:hover{ height: 2rem; }
    .expansion_header mat-panel-title{ font-size: smaller; }
    .mat-expansion-panel-body { padding: 0 5px 16px !important; }
}


                // Shared style
.header {
    text-align: center;
    padding: 32px;
}
.header h1{  
    text-transform: uppercase;
    font-weight: 500;
}
