                    // Home container 
.home_container{
    display: flex;
    width: 100%;
}
.left_panel h1{
    color: #DB4437;
    text-transform: uppercase;
}

                    // Features container
.feature_card{
    margin: 1rem;
    height: 13rem;
}
.yellow{ background-color: #F4B400; }
.red{ background-color: #DB4437; }
.green{ background-color: #0F9D58; }
.feature_card mat-card-title{ margin-bottom: 12px; }

                    // Team container
.team_card .avatar{ border-radius: 50%; }
.team_card mat-card-header{ 
    display: block; 
    margin: 1rem 0;
}
.team_card mat-card-subtitle{ color: rgb(41, 39, 39)}
.telegram_icon, .git_icon{ cursor: pointer; }
.telegram_icon{
    margin-right: 20px;
    height: 25px;
}
.git_icon{ height: 30px; }

                // Download and Donate container
.download_card, .donate_card{
    height: 17rem;
    padding: 30px;
    line-height: 1.5;
    border-radius: 40px;
    background-color: #fff;
}
.download_card mat-card-subtitle, .donate_card mat-card-subtitle{ 
    font-size:large;
    color: black;
}
.download_btn, .donate_btn{ 
    background-color: #DB4437; 
    border-radius: 40px;
}

                    // Shared
.feature_label, .team_label, .download_donate_label{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: bold; 
}
.feature_card, .team_card{ border-radius: 25px; }
.feature_card mat-card-subtitle, .feature_card mat-card-title,
 .download_btn, .donate_btn{ color: #fff; }

@media (min-width: 992px) and (min-width: 1200px){
    .home_container{ 
        padding-top: 4rem;
        padding-bottom: 2.5rem;
    }
    .left_panel, .right_panel{ width: 50%; }
    .left_panel{ 
        margin-left: 5.5rem; 
        margin-top: 8rem; 
    }
    .left_panel h1{
        font-size: 4.5rem;
        font-weight: bold;
        line-height: 1;    
    }
    .left_panel p{ font-size: 1.5rem; }
    .right_panel img{ width: 390px; }

    .features_container{ padding: 3rem 13rem;}
    .feature_label{ font-size: xxx-large; }
    .feature_card{
        width: 17rem;
        line-height: 1.5;
    }
    .feature_card mat-card-subtitle { font-size: medium; }

    .team_container{ padding: 3rem 13.7rem; }
    .team_label{ font-size: xxx-large;}
    .team_card{
        width: 16rem;
        margin: 15px 20px;
    }
    .team_card .avatar{ height: 100px; }

    .download_donate_container{ margin: 4rem 20rem;}
    .download_donate_label{ font-size: xxx-large; }
    .download_card, .donate_card{ 
        margin: 2rem 1rem 0 0;
        width: 21rem;
    }
    .download_btn, .donate_btn{ 
        font-size: x-large;
        height: 5rem;
        width: 15rem;
        margin-top: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .home_container{ padding-top: 2rem;}
    .left_panel, .right_panel{ width: 50%; }
    .left_panel{ 
        margin-left: 1.5rem; 
        margin-top: 2rem;
    }
    .left_panel h1{
        font-weight: bold;  
        line-height: 1.5;  
    }
    .right_panel img{ width: 200px; }

    .features_container{ padding: 2rem 4rem; }
    .feature_label{ font-size: 1.23rem; }
    .feature_card{ width: 13rem; }
    .feature_card mat-card-title{ font-size: 1.30rem; }
    .feature_card mat-card-subtitle { margin-top: 1rem; }

    .team_container{ padding: 2rem 4rem; }
    .team_label{ font-size: 1.23rem; }
    .team_card{
        width: 14rem;
        margin: 15px 22px;
    }
    .team_card .avatar{ height: 80px; }
    .mat-card-header mat-card-title{ font-size: 16px;}

    .download_donate_container{ padding: 2rem 4rem; }
    .download_donate_label{ font-size: 1.23rem; }
    .download_card, .donate_card{ 
        margin: 1rem 0 0 0;
        width: 15rem;
     }
    .download_btn, .donate_btn{
        font-size: medium;
        height: 3rem;
        width: 8rem;
     }
}